table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #FDB813;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .btn-danger {
    background-color: #DC3545;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }

  .btn-danger:hover {
    color: black;
    background-color:gray;
  }
  
  .btn-warning {
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }

  .btn-warning:hover {
    color: black;
    background-color:gray;
  }